__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
.vscode
*.csv
*.log
!logs/
!logs/important/
!logs/important/a10g/
!logs/important/l40s/
!logs/important/*.log
!logs/important/a10g/*.log
!logs/important/l40s/*.log