__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/
_tmp*
res/ssh_log/
res/ssh_log*
varuna_current_machines
megatron/data/helpers.cpython-36m-x86_64-linux-gnu.so
profiles/
profiles*/
checkpoints/
data/
lab/
launch_varuna*